<!DOCTYPE html>
<html>
<head>
    <title>Add Customer</title>
</head>

<body>
    <h1>Add Customer</h1>
    <form method="POST"action="/add-customer">

        <label>Customer Name:</label>
        <input type="text"name="name">

        <br><br>

        <label>Phone Number:</label>
        <input type="text"name="phone">

        <br><br>
        
        <label>Item:</label>
        <input type="text" name="item">

        <br><br>
        
        <label>Quantity:</label>
        <input type="text" name="quantity">

        <br><br>
        
        <label>Amount:</label>
        <input type="text" name="amount">

        <br><br>

        <button type="submit">Add Customer</button>
    </form>
</body>
</html>
